<p id="notice"><%= notice %></p>

<h1>User & book records</h1>

<table>
  <thead>
    <tr>
      <th>user</th>
      <th>book</th>
      <th>completed</th>
    </tr>
  </thead>

  <tbody>
    <% @user_books.each do |user_book| %>
      <tr>
        <td><%= user_book.user.email %></td>
        <td><%= user_book.book.title %></td>
        <td><%= user_book.completed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
